<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.letroll.mesmangas.AnimeStory"
    android:versionCode="1"
    android:versionName="1.0" >

    <application android:label="@string/app_name" >
        <service
            android:name="fr.letroll.mesmangas.animestory.AnimeStory"
            android:exported="true" >
            <intent-filter>
                <action android:name="letroll.intent.action.PICK_PLUGIN" />

                <category android:name="letroll.intent.category.AnimeStory" />
            </intent-filter>
        </service>
    </application>

</manifest>